{% extends "wagtailadmin/widgets/chooser.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block chooser_class %}{{ model_type }}-chooser{% endblock %}

{% block chosen_state_view %}
    <div class="image-choice hello">
        {% if thumbnail %}
        <div class="image">{% image thumbnail max-100x100 %}</div>
        {% endif %}
        <h3>{{ thumbnail }}</h3>
        <h3>{{ usage }}</h3>
    </div>
{% endblock %}

{% block edit_chosen_item_url %}
{% if item %}
    {% if model_type == "snippet" %}
        {% url 'wagtailsnippets:edit' model_opts.app_label model_opts.model_name item.id %}
    {% elif model_type == "page" %}
        {% url 'wagtailadmin_pages:edit' item.id %}
    {% else %}
    {% endif %}
{% endif %}
{% endblock %}